<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sagosago.googleplay"
    android:versionCode="1"
    android:versionName="1.0">
    <application>
       
       <!-- Don't define android:configChanges, android:launchMode or android:screenOrientation here since Unity will automatically apply those during the build process based on PlayerSettings -->
       <activity android:name="com.unity3d.player.UnityPlayerActivity">
            <meta-data android:name="unityplayer.UnityActivity" android:value="true"/>
            <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="false"/>
        </activity>

        <activity android:name="com.sagosago.sagopermission.PermissionActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.sagosago.googleplaydownloader.GooglePlayDownloaderActivity">
        </activity>
        
        <service android:name="com.sagosago.googleplaydownloader.GooglePlayDownloaderService" />
        <receiver android:name="com.sagosago.googleplaydownloader.GooglePlayAlarmReceiver" />

        <activity android:label="@string/title_activity_bootstrap" android:name="com.sagosago.sagoapp.Bootstrap">
        </activity>

   </application>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>
